@import @/styles/helpers

.section
    padding-top: rem(120)
    +t
        padding-top: rem(96)

.label
    margin-bottom: rem(80)
    +t
        margin-bottom: rem(48)
    +m
        margin-bottom: rem(40)

.inner
    display: flex
    align-items: flex-start
    gap: rem(80)
    +d
        gap: rem(48)
    +t
        gap: rem(40)
    +m
        display: block

.preview
    position: relative
    flex-shrink: 0
    width: rem(380)
    min-height: rem(480)
    overflow: hidden
    +d
        width: rem(300)
        min-height: rem(380)
    +t
        width: rem(240)
        min-height: rem(300)
    +m
        width: 100%
        min-height: rem(320)
        margin-bottom: rem(40)

.content
    flex: 1
    padding-top: rem(16)

.name
    margin-bottom: rem(16)

.position
    +subtitleS
    text-transform: uppercase
    color: $n4
    margin-bottom: rem(48)
    +t
        margin-bottom: rem(32)
    +m
        margin-bottom: rem(24)

.description
    +bodyL
    margin-bottom: rem(48)
    +t
        +bodyM
        margin-bottom: rem(32)
    +m
        margin-bottom: rem(24)
